format = """
$username\
$hostname\
$directory\
$git_branch\
$git_state\
$git_status\
$cmd_duration\
$python\
$ruby\
$character """

[directory]
format = ' [$path]($style) '
style = "blue"

[hostname]
ssh_symbol = "󰣀  "
format = '[$ssh_symbol$hostname]($style) in '

[character]
success_symbol = "[❯](purple)"
error_symbol = "[❯](red)"
vimcmd_symbol = "[❮](green)"

[git_branch]
format = " [$branch]($style)"
style = "bright-black"

[username]
format = ' [$user]($style) on '
style_user = 'italic bright-yellow'

[git_status]
format = "[[(*$conflicted$untracked$modified$staged$renamed$deleted)](218) ($ahead_behind$stashed)]($style)"
style = "cyan"
conflicted = "​"
untracked = "​"
modified = "​"
staged = "​"
renamed = "​"
deleted = "​"
stashed = "≡"

[git_state]
format = '\([$state( $progress_current/$progress_total)]($style)\) '
style = "bright-black"

[cmd_duration]
format = "[$duration]($style) "
style = "yellow"

[python]
format = "[$symbol ($virtualenv)]($style) "
#style = "bright-black"
style = "#FFDE57"
symbol = ""

[ruby]
format = "($symbol)[$gemset]($style) "
style = "red"
symbol = "󰴭"
